.container {
  padding: 104px 120px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.333;
  color: var(--color-text-dark);
  margin: 0 0 8px 0;
}

.carId {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #6c717b;
}

.locationMileage {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.location,
.mileage {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text-dark);
}

.icon {
  display: inline-block;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #6c717b;
}

.price {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333;
  margin-bottom: 32px;
}

.descriptionLine {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.333;
  color: var(--color-text-dark);
  margin: 0;
}

.content {
  display: flex;
  gap: 72px;
}

.leftColumn {
  width: 640px;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 512px;
  border-radius: 18.74px;
  overflow: hidden;
  margin-bottom: 40px;
}

.description {
  font-size: 16px;
  color: #333333;
  margin-bottom: 24px;
  line-height: 1.6;
}

.bookingBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: #fff;
}

.rightColumn {
  width: calc(100% - 72px - 640px);
  display: flex;
  flex-direction: column;
}

/* Секции */
.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-dark);
  margin: 0 0 20px 0;
}

.conditionsList,
.specificationsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conditionsList li,
.specificationsList li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-dark);
  margin-bottom: 16px;
}

.conditionsList li svg,
.specificationsList li svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: currentColor;
}

.conditionsList li:last-child,
.specificationsList li:last-child,
.accessoriesList li:last-child {
  margin-bottom: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.section:not(:last-child) {
  margin-bottom: 110px;
}
