 /* body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  color: #101828;
}

.relative {
  position: relative;
}
.h-48 {
  height: 192px; 
}
 */

.container {
  max-width: 1200px;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
