body,
input,
textarea {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}

:root {
  --color-primary: #3470ff;
  --color-primary-hover: #0b44cd;
  --color-text-dark: #101828;
  --color-text-gray: #8a8a89;
  --color-bg-light: #f7f7f7;
}
