.container {
  max-width: 1200px;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
/* :root {
  --date-picker-primary: #3470ff;
  --date-picker-text: #101828;
  --date-picker-light-text: #8d929a;
  --date-picker-bg: #ffffff;
  --date-picker-border-radius: 12px;
}

.custom-datepicker-popper {
  z-index: 1000;
}

.react-datepicker {
  width: 276px !important;
  height: 274px !important;
  border-radius: 12px !important;
  background: rgba(255, 255, 255, 1) !important;
  padding: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
  color: #101828 !important;
  border: none !important;
}
.react-datepicker__triangle {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background: rgba(247, 247, 247, 1);
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.react-datepicker__triangle::after {
  display: none;
}

.react-datepicker__header {
  background-color: var(--date-picker-bg);
  border-bottom: none;
  padding-bottom: 10px;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  color: var(--date-picker-text);
  margin-bottom: 0;
}

.react-datepicker__navigation {
  top: 12px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.react-datepicker__navigation--previous {
  left: 12px;
}

.react-datepicker__navigation--next {
  right: 12px;
}

.react-datepicker__navigation-icon::before {
  content: "";
  border-color: var(--date-picker-primary);
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: block;
  height: 8px;
  width: 8px;
  transform: rotate(135deg);
}

.react-datepicker__navigation--next .react-datepicker__navigation-icon::before {
  transform: rotate(-45deg);
}

.react-datepicker__day-names {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-name {
  width: 24px;
  font-size: 12px;
  color: var(--date-picker-text);
  text-transform: uppercase;
  font-weight: 600;
}

.react-datepicker__day,
.react-datepicker__time-name {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  color: var(--date-picker-text);
  border-radius: 50%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: var(--date-picker-primary);
  color: var(--date-picker-bg);
}


.react-datepicker__day:hover {
  background-color: #f0f0f0;
}

.react-datepicker__day--outside-month {
  color: var(--date-picker-light-text);
}
.custom-datepicker-popper {
  box-shadow: none !important;
  z-index: 1000;
} */
