/* src/app/globals.css */

/* Базові стилі та шрифти */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Основний фон сторінки */
  color: #101828;
}

/* Скидання стилів для Next.js Image */
.relative {
  position: relative;
}
.h-48 {
  height: 192px; /* 48 * 4px = 192px */
}

/* Контейнер */
.container {
  max-width: 1280px; /* Приблизна ширина макета */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
