/* body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
  color: #101828;
}

.relative {
  position: relative;
}
.h-48 {
  height: 192px; 
}


.container {
  max-width: 1280px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* глобально обнуляємо верхні і нижні відступи для h1 та p */
/* Скидання дефолтних стилів для всього сайту */
html,
body {
  margin: 0;
  padding: 0;
}
