.heroSection {
  max-height: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 436px;
  padding-bottom: 60px;
  margin-top: 4px;

  position: relative;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ffffff;
  font-family: Manrope, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;

  width: fit-content;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.subtitle {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.333;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 40px;
}

.catalogButton {
  display: inline-block;
  width: 276px;
  height: 44px;

  background-color: #3470ff;
  color: #ffffff;

  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  padding: 12px 0;

  transition: background-color 0.2s;
}

.catalogButton:hover,
.catalogButton:focus {
  background-color: #0b44cd;
}
