.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  background-color: #f2f4f7;
}

.logo svg {
  width: 104px;
  height: 16px;
}

.nav {
  display: flex;
  gap: 32px;
}
.nav a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0em;
  text-align: center;

  color: #101828;
  text-decoration: none;
  transition: color 0.2s;
}

.nav a:hover,
.nav a:focus {
  color: #0b44cd;
}
