.catalogPage {
  padding: 84px 120px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.catalogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  gap: 48px 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.centerGrid {
  justify-content: center; /* центрує елементи */
  grid-template-columns: repeat(
    auto-fit,
    minmax(276px, auto)
  ); /* auto замість 1fr */
}

.loadMoreWrapper {
  text-align: center;
  margin-bottom: 100px;
}

.loadMoreButton {
  width: 156px;
  background: none;
  border: 1px solid #3470ff;
  color: #101828;

  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;

  padding: 12px 0;
  transition: background-color 0.2s;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  border: 1px solid #0b44cd;
}

.error {
  color: red;
  text-align: center;
  margin: 20px 0;
}

.noCars {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  color: #8a8a89;
  margin: 20px 0;
}
