.card {
  position: relative;
  width: 276px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 16px;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.titleLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  max-width: 242px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #101828;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model {
  color: rgba(52, 112, 255, 1);
}

.price {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #101828;
  margin: 0;
}

.detailsRow {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #8d929a;
  gap: 6px;
}

.detailsRowTop {
  margin-bottom: 4px;
}

.detailItem {
  padding-right: 6px;
  border-right: 1px solid #dadde1;
}

.detailsRow:last-of-type .detailItem:last-child {
  border-right: none;
}

.readMoreButton {
  width: 100%;
  height: 44px;
  background-color: #3470ff;
  color: #ffffff;

  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  padding: 12px 0;

  transition: background-color 0.2s;
  margin-top: 32px;
}

.readMoreButton:hover,
.readMoreButton:focus {
  background-color: #0b44cd;
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 3;
  background: none;
  border: none;
  cursor: pointer;
}
